<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @contact.name %> contacted us</h3>
    <p>
      Email: <%= @contact.email %><br/>
      Message: <%= @contact.message %>
    </p>
    
    </body>
</html>