<% @page_title = 'Sign Up' %>
 <div class="sign_up">
<div class="container">

            <div class="row">
                <div class="span12">
                    <!-- about us -->
                    <div class="about-us_2">
                    
  <h2>Sign Up</h2>

  <%= simple_form_for(:user, :url => {:action => 'create'}, :html => {:class => 'form-horizontal' }) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>

    <%= f.button :submit, 'Sign Up', :class=> "btn btn-primary" %>

  <% end %>
</div></div>
</div></div></div>