<span class="error_msgs">
    <% if !flash[:error].blank? %>
        <div class="error" id="error">
          <img src="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/alerts/error.png" width = "20" height="20">&nbsp<%= flash[:error] %>
        </div>
         <% end %>
        </span>
     
      <span class="error_msgs">
      <% if !flash[:notice].blank? %>
        <div class="notice" id="notice">
          <img src="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/alerts/success.png" width = "24" height="24">&nbsp<%= flash[:notice] %>
        </div>
      <% end %>
      </span>

      <span class="error_msgs">
      <% if !flash[:alert].blank? %>
        <div class="alert" id="alert">
          <img src="https://s3.ap-south-1.amazonaws.com/ybeatz-production/assets/images/alerts/error.png" width = "24" height="24">&nbsp<%= flash[:alert] %>
        </div>
      <% end %>
      </span>
      <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 5000)
  </script>