<% @page_title = "Home" %>
        <!-- Coming Soon -->
        <div class="product-showcase">
            <div class="product-showcase-pattern">
                <div class="container">
                    <div class="row">
                        <div class="span12 product-background">
                            <div class="row">
                                <div class="span4" >
                                <center>
                                    <h1><strong>Igniting Passion & Creating Livelihood</strong></h1>
                                    
                                
                                    <div class="product-description product-description-right" style="width: 100%, color: #fff">
                                        

                                        <% unless member_signed_in? %>
                                        
                                            <%= link_to 'Join Us', new_member_registration_path, :class => 'join-us btn btn-primary' %>
                                        <% end %>
                                      </center>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="container">

            <div class="row">
                <div class="span12">
                    <!-- about us -->
                    <div class="about-us_2">
                        <h3>Igniting Passion & Creating Livelihood</h3>
                        <h5>Create your own music, promote it, interact with experts, learn and earn for yourself. </h5>

                        <div class="quote">
                            <hr>
                            <p><i>
                            Music has the power to change the world. However, to support so many talented musicians and budding artists along with the upheaval of the music industry as a whole is a big challenge. We provide solutions to cater to budding artists, music enthusiasts, musicians, labels, event houses, cafes, corporates and getting them together on one platform.</i></p>
                            <hr>
                        </div>
                        <p>The interactive platform offers the users to make their lives simple, filled with knowledge, promoting music creation and sustainability, eventually leading to a flourishing state of music industry and corporate houses.</p>
                    </div>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <!-- as seen on -->
                <!-- <div class="span12 using-this">
                    <h3>Remain Updated</h3>
                    <div class="using-this-container">
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                        <a class="using-this-youtube" href="#"></a>
                        
                    </div>
                </div> -->
            </div>
             <!-- end row -->

        </div> <!-- end container -->

   
