<% will_paginate @members %>

<div class="container">
  <div class="row">
    <h3>Members</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <%= render member %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
