 <% @page_title = "Admin Panel | Members" %>

<% will_paginate @members %>

<div class="container">
<div class="row">
  <%= render 'shared/panel_sidemenu' %>
  
    <h3>Members</h3>
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <%= render member %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br/>
      <div class="pagination" style="float: right; padding-right: 15px; margin: 0;" >
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
